.header{
	background: #f4f5f2;
	height: 165px;
	&__container {
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}
	@include mq(sm) {

	}
}

.site-logo {
	position: relative;
	display: block;
	overflow: visible;
	min-width: 165px;
	height: 165px;
	@include corner($ico-corner_small, 35px);
	z-index: 10;
	@include mq(sm){
		min-width: 120px;
		&::after { display: none }
	}
	@include mq(xs){
		min-width: 70px;
	}
	img {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 30;
		@include mq(sm) {
			top: 13px;
		}
	}
}
.site-nav-outer {
	flex: auto;
	@include mq(md) {
		order: 4;
		transform: translateY(-74px);
		text-align: right;
		z-index: 10;
		transition: transform .4s linear;
		&.with-search {
			transform: translateY(-96px);
		}
	}
	@include mq(xs) {
		order: 4;
		transform: translateY(-37px);
		&.with-search {
			//transform: translateY(-96px);
		}
	}
}
.lang-toggle{
	flex-basis: 97px;
	text-align: right;
	position: relative;
	padding-top: 15px;
	@include mq(lg) {
		position: absolute;
		bottom: 3px;
		left: calc(165px + #{$gutter});
		width: 85px;
	}
	@include mq(md) {
		position: static;
		order: 3;
		flex-basis: 85px;
	}
	@include mq(sm) {
		flex-basis: 30px;
		div:first-of-type {display: none}
	}
	div {
		line-height: 0;
		@include mq(sm) {
			margin-top: -8px;
		}
	}
	a{
		font-size: 0;
		line-height: 0;
		&::before {
			content: " ";
			display: inline-block;
			@include sprite($ico-home);
		}
		&:hover::before {
			@include sprite($ico-home_hover);
		}
	}
	&__item {
		border: 0;
		background: transparent;
		@include font(15,30,700,$font: $ez);
		color: #818386;
		padding: 3.5px;
		@include mq(sm) {
			padding: 0;
		}
		&:hover,
		&.act,
		&:focus {
			color: #a8aaad;
		}
		&:nth-child(even){
			margin-right: -3.5px;
			@include mq(sm) {
				margin-right: 0;
			}
		}
	}
	.corner {
		width: 119px;
		height: 35px;
		position: absolute;
		top: 0;
		left: -1px;
		@include mq(lg){
			display: none;
		}
		&__outer {
			fill: #fff;
		}
		&__inner {
			fill: $menu-dark;
		}
	}
}
.header-inner {
	position: absolute;
	right: 0;
	bottom: 0;
	left: calc(165px + #{$gutter});
	right: $gutter;
	display: flex;
	align-items: flex-end;
	padding: 12px 0;
	@include mq(lg) {
		left: calc(85px + 165px + #{$gutter});
		padding: 12px 0 7px;
	}
	@include mq(md) {
		position: relative;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-basis: calc(100% - 165px - 85px);
		left: auto;
		right: auto;
		bottom: auto;
		top: auto;
		z-index: 11;
		transition: padding .4s linear;
		&.with-search {
			padding-bottom: 50px;
		}
	}
	@include mq(sm) {
		flex-basis: calc(100% - 120px - 30px);
	}
	@include mq(xs) {
		flex-basis: calc(100% - 70px - 30px);
	}
	&__item {
		padding-left: 30px;
		@include mq(lg){
			padding-left: $gutter;
		}
	}
	.site-slogan {
		flex-basis: 50%;
		@include font(26,30,700,$font: $ez);
		@include mq(lg) {
			@include font(21,24,700,$font: $ez);
		}
		@include mq(md) {
			br {display: none;}
			flex-basis: 100%;
			padding-right: 100px;
		}
		@include mq(sm) {
			@include font(18,20,700,$font: $ez);
			padding-right: 0;
		}
		@include mq(xs) {
			@include font(16,18,700,$font: $ez);
		}
	}
	.site-search {
		flex-basis: 30%;
		@include mq(lg) {
			padding: 0;
			flex-basis: 28px;
		}
		@include mq(md) {
			padding-left: 15px;
		}
		&__toggle {
			display: none;
			@include mq(lg) {
				display: block;
				border: 0;
				padding: 0;
				font-size: 0;
				line-height: 0;
				background: transparent;
				&::after {
					content: " ";
					display: inline-block;
					@include sprite($ico-search_big);
				}
			}
		}
		&__wrapp {
			@include mq(lg) {
				position: absolute;
				top: -26px;
				left: 292px;
				right: 0;
				z-index: -100;
				opacity: 0;
				transition: all .4s ease-out;
				&_act {
					opacity: 1;
					z-index: 49;
				}
			}
			@include mq(md) {
				top: auto;
				right: 0;
				bottom: 5px;
				left: $gutter;
			}
			@include mq(sm) {
				right: -30px;
				bottom: -25px;
				&_act {
					bottom: 5px;
				}
			}
			@include mq(xs) {
				left: calc(-70px);
				bottom: -55px;
				&_act {
					bottom: 5px;
				}
			}
		}
		&__query {
			@include font(12,24);
			color: $black;
			span {
				color: #009a3e;
			}
			a {
				color: $black;
				border-bottom: 1px dashed $black;
				text-decoration: none;
				&:hover {
					border-bottom: 1px dashed transparent;
					color: $default-color;
				}
			}
		}
		.search {
			position: relative;
			&__input {
				width: 100%;
				border: 1px solid #d1d2d4;
				padding: 0 30px 0 10px;
			}
			&__submit{
				position: absolute;
				top: 8px;
				right: 8px;
				border: 0;
				padding: 0;
				background: transparent;
				text-indent: -9999px;
				@include sprite($ico-search);
			}
		}
	}
	.site-contacts {
		flex-basis: 20%;
		text-align: right;
		line-height: 12px;
		@include mq(lg) {
			flex-basis: calc(50% - 28px);
		}
		@include mq(md) {
			flex-basis: 295px;
		}
		@include mq(xs) {
			flex-basis: 145px;
			text-align: left;
		}
		&__phone {
			@include font(17,20,700,$font: $ez);
			color: $black;
			text-decoration: none;
			&:hover {
				color: $default-color;
			}
			@include mq(md) {
				float: right;
			}
			@include mq(xs) {
				@include font(12,14,400,$font: $ez);
				float: none;
			}
		}
		&__social {
			line-height: 12px;
			@include mq(lg) {
				display: inline-block;
			}
			@include mq(md) {
				float: left;
			}
			@include mq(xs) {
				float: none;
				transform: translateY(27px);
				transition: transform .4s linear;
				&.with-search {
					transform: translateY(0);
				}
			}
			.soc {
				font-size: 0;
				line-height: 0;
				position: relative;
				margin-left: 5px;
				@include mq(xs) {
					margin-left: 0;
				}
				&::before {
					content: "";
					display: inline-block;
					transition: all .3s ease-in;
				}
				&_fb::before{
					@include sprite($ico-fb);
				}
				&_tw::before{
					@include sprite($ico-tw);
				}
				&_in::before{
					@include sprite($ico-in);
				}
				&:hover::before {
					transform: translateY(-2px);
				}
			}
		}
	}
}

