.main {
	padding: 20px 0 40px;
}
.main-grid {
	flex-wrap: wrap;
	.col {
		flex-basis: 33.33333%;
		@include mq(sm){
			flex-basis: 100%;
		}
		@include mq(lg){
			&:first-child {
				flex-basis: 100%;
			}
		}
	}
}
.news {
	&__item {
		display: block;
		margin-bottom: 35px;
	}
	&__header {
		display: flex;
		margin-bottom: 5px;
	}
	&__date {
		@include font(14,20,700);
		color: #a8aaad;
	}
	&__tag {
		@include font(12,20);
		color: #555;
		background: #f3f3f4;
		padding: 0 10px;
		text-decoration: none;
		margin-left: 10px;
	}
	&__all {
		text-align: right;
		a {
			color: #9aa281;
		}
	}
}
.info-block {
	display: block;
	h3, .h3 {
		transition: color .2s ease-in;
	}
	&__inner {
		overflow: hidden;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		min-height: 508px;
		background: #d1d2d4;
		img {
			position: absolute;
			z-index: 5;
			max-height: 508px;
			top:0;
			right: 0;
			bottom: 0;
			left:0;
			max-width: inherit;
			margin: 0 auto;
			transition: transform .4s ease-in;
		}
		span {
			position: relative;
			z-index: 10;
			line-height: 1.5;
			padding: 10px 15px;
			display: block;
			background: rgba(255,255,255,.8);
			margin-top: -30px;
		}
		.news {
			position: absolute;
			width: calc(100% - 98px);
			bottom: -5px;
			right: 0;
		}
	}
	&:hover {
		img {
			transform: scale(1.03);
		}
	}
}
.info-footer {
	display: flex;
	@at-root .angle {
		width: 68px;
		height: 76px;
		flex-shrink: 0;
		&__first {
			fill: #d1d2d4;
		}
		&__second {
			fill: #f3f3f4;
		}
		&_rotate {
			transform: rotateX(180deg) rotateY(180deg);
		}
	}
	.news {
		padding: 8px 0 0 30px;
	}
}
