.site-nav {
	display: flex;
	flex: auto;
	height: 100%;
	@include mq(md) {
		flex-direction: column;
		display: none;
	}
	/* for both levels */
	a {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
	}
	&__item {
		flex: auto;
		height: 100%;
		position: relative;
		/* level 1 */
		>a {
			width: 100%;
			@include font(15, 18, 700, $font: $ez);
			padding: 8px 17px;
			background: $menu-dark;
			position: relative;
			z-index: 11;
			border-left: 1px solid #fff;
			@include mq(lg){
				@include font(14, 18, 700, $font: $ez);
			}
			/*SVG corners style*/
			.corner {
				position: absolute;
				top: calc(100% - 6px);
				right: 0;
				left: 0;
				width: 100%;
				height: 56px;
				fill: #fff;
				&__inner {
					fill: $menu-dark;
					transition: fill .2s ease-out;
				}
				&__outer {
					fill: #fff;
					transition: fill .2s ease-out;
				}
			}
		}
		&:first-child {
			a {
				border-left: 0;
			}
		}
		&:nth-child(n+4) {
			a {
				.corner {
					height: 48px;
				}
			}
		}
		.dropdown {
			background: $menu-dark;
			&__item a:hover {
				background: $menu-light;
			}
		}
		&:nth-child(even) {
			background: #ececec;
			a {
				background: $menu-light;
				.corner {
					&__inner {
						fill: $menu-light;
					}
				}
			}
			.dropdown {
				background: $menu-light;
				&__item a:hover {
					background: $menu-dark;
				}
			}
		}
	}
}
/* level 2 */
.dropdown {
	position: absolute;
	z-index: 10;
	padding-top: 20px;
	top: -111%;
	transition: all 0.4s ease-in;
	a:hover + &,
	&:hover {
		top: 27px;
		z-index: 12;
	}
	&::before {
		content: " ";
		display: block;
		position: absolute;
		top: 2px;
		left: calc(50% - 5px);
		@include sprite($ico-menu);
	}
	&__item {
		text-align: center;
		>a {
			@include font(13,15,700,$font: $ez);
			padding: 10px 15px;
		}
	}
}
