.breadcrumbs {
	color: #abadb0;
	margin-top: 13px;
	margin-left: calc(165px + #{$gutter}*2 - 4px);
	@include font(12, 30);
	@include mq(sm){
		margin-top: 0;
		margin-left: -4px;
	}
	&__item {
		color: #abadb0;
		text-decoration: underline;
		border: 0;
		margin: 0 4px;
		&:hover {
			text-decoration: none;
			border: 0;
		}
		&:last-child {
			text-decoration: none;
		}
	}
}
