// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$dot-act-name: 'dot_act';
$dot-act-x: 74px;
$dot-act-y: 77px;
$dot-act-offset-x: -74px;
$dot-act-offset-y: -77px;
$dot-act-width: 22px;
$dot-act-height: 22px;
$dot-act-total-width: 136px;
$dot-act-total-height: 128px;
$dot-act-image: '../images/sprite.png';
$dot-act: (74px, 77px, -74px, -77px, 22px, 22px, 136px, 128px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 52px;
$dot-y: 77px;
$dot-offset-x: -52px;
$dot-offset-y: -77px;
$dot-width: 22px;
$dot-height: 22px;
$dot-total-width: 136px;
$dot-total-height: 128px;
$dot-image: '../images/sprite.png';
$dot: (52px, 77px, -52px, -77px, 22px, 22px, 136px, 128px, '../images/sprite.png', 'dot', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 88px;
$ico-checkbox-off-y: 104px;
$ico-checkbox-off-offset-x: -88px;
$ico-checkbox-off-offset-y: -104px;
$ico-checkbox-off-width: 16px;
$ico-checkbox-off-height: 21px;
$ico-checkbox-off-total-width: 136px;
$ico-checkbox-off-total-height: 128px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (88px, 104px, -88px, -104px, 16px, 21px, 136px, 128px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 72px;
$ico-checkbox-on-y: 104px;
$ico-checkbox-on-offset-x: -72px;
$ico-checkbox-on-offset-y: -104px;
$ico-checkbox-on-width: 16px;
$ico-checkbox-on-height: 21px;
$ico-checkbox-on-total-width: 136px;
$ico-checkbox-on-total-height: 128px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (72px, 104px, -72px, -104px, 16px, 21px, 136px, 128px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-corner-slider-name: 'ico-corner_slider';
$ico-corner-slider-x: 68px;
$ico-corner-slider-y: 0px;
$ico-corner-slider-offset-x: -68px;
$ico-corner-slider-offset-y: 0px;
$ico-corner-slider-width: 68px;
$ico-corner-slider-height: 67px;
$ico-corner-slider-total-width: 136px;
$ico-corner-slider-total-height: 128px;
$ico-corner-slider-image: '../images/sprite.png';
$ico-corner-slider: (68px, 0px, -68px, 0px, 68px, 67px, 136px, 128px, '../images/sprite.png', 'ico-corner_slider', );
$ico-corner-small-name: 'ico-corner_small';
$ico-corner-small-x: 0px;
$ico-corner-small-y: 77px;
$ico-corner-small-offset-x: 0px;
$ico-corner-small-offset-y: -77px;
$ico-corner-small-width: 24px;
$ico-corner-small-height: 27px;
$ico-corner-small-total-width: 136px;
$ico-corner-small-total-height: 128px;
$ico-corner-small-image: '../images/sprite.png';
$ico-corner-small: (0px, 77px, 0px, -77px, 24px, 27px, 136px, 128px, '../images/sprite.png', 'ico-corner_small', );
$ico-corner-name: 'ico-corner';
$ico-corner-x: 0px;
$ico-corner-y: 0px;
$ico-corner-offset-x: 0px;
$ico-corner-offset-y: 0px;
$ico-corner-width: 68px;
$ico-corner-height: 77px;
$ico-corner-total-width: 136px;
$ico-corner-total-height: 128px;
$ico-corner-image: '../images/sprite.png';
$ico-corner: (0px, 0px, 0px, 0px, 68px, 77px, 136px, 128px, '../images/sprite.png', 'ico-corner', );
$ico-fb-name: 'ico-fb';
$ico-fb-x: 0px;
$ico-fb-y: 104px;
$ico-fb-offset-x: 0px;
$ico-fb-offset-y: -104px;
$ico-fb-width: 24px;
$ico-fb-height: 24px;
$ico-fb-total-width: 136px;
$ico-fb-total-height: 128px;
$ico-fb-image: '../images/sprite.png';
$ico-fb: (0px, 104px, 0px, -104px, 24px, 24px, 136px, 128px, '../images/sprite.png', 'ico-fb', );
$ico-home-hover-name: 'ico-home_hover';
$ico-home-hover-x: 96px;
$ico-home-hover-y: 77px;
$ico-home-hover-offset-x: -96px;
$ico-home-hover-offset-y: -77px;
$ico-home-hover-width: 19px;
$ico-home-hover-height: 19px;
$ico-home-hover-total-width: 136px;
$ico-home-hover-total-height: 128px;
$ico-home-hover-image: '../images/sprite.png';
$ico-home-hover: (96px, 77px, -96px, -77px, 19px, 19px, 136px, 128px, '../images/sprite.png', 'ico-home_hover', );
$ico-home-name: 'ico-home';
$ico-home-x: 115px;
$ico-home-y: 77px;
$ico-home-offset-x: -115px;
$ico-home-offset-y: -77px;
$ico-home-width: 19px;
$ico-home-height: 19px;
$ico-home-total-width: 136px;
$ico-home-total-height: 128px;
$ico-home-image: '../images/sprite.png';
$ico-home: (115px, 77px, -115px, -77px, 19px, 19px, 136px, 128px, '../images/sprite.png', 'ico-home', );
$ico-in-name: 'ico-in';
$ico-in-x: 24px;
$ico-in-y: 104px;
$ico-in-offset-x: -24px;
$ico-in-offset-y: -104px;
$ico-in-width: 24px;
$ico-in-height: 24px;
$ico-in-total-width: 136px;
$ico-in-total-height: 128px;
$ico-in-image: '../images/sprite.png';
$ico-in: (24px, 104px, -24px, -104px, 24px, 24px, 136px, 128px, '../images/sprite.png', 'ico-in', );
$ico-menu-name: 'ico-menu';
$ico-menu-x: 68px;
$ico-menu-y: 67px;
$ico-menu-offset-x: -68px;
$ico-menu-offset-y: -67px;
$ico-menu-width: 19px;
$ico-menu-height: 10px;
$ico-menu-total-width: 136px;
$ico-menu-total-height: 128px;
$ico-menu-image: '../images/sprite.png';
$ico-menu: (68px, 67px, -68px, -67px, 19px, 10px, 136px, 128px, '../images/sprite.png', 'ico-menu', );
$ico-search-big-name: 'ico-search_big';
$ico-search-big-x: 24px;
$ico-search-big-y: 77px;
$ico-search-big-offset-x: -24px;
$ico-search-big-offset-y: -77px;
$ico-search-big-width: 28px;
$ico-search-big-height: 22px;
$ico-search-big-total-width: 136px;
$ico-search-big-total-height: 128px;
$ico-search-big-image: '../images/sprite.png';
$ico-search-big: (24px, 77px, -24px, -77px, 28px, 22px, 136px, 128px, '../images/sprite.png', 'ico-search_big', );
$ico-search-name: 'ico-search';
$ico-search-x: 104px;
$ico-search-y: 104px;
$ico-search-offset-x: -104px;
$ico-search-offset-y: -104px;
$ico-search-width: 19px;
$ico-search-height: 15px;
$ico-search-total-width: 136px;
$ico-search-total-height: 128px;
$ico-search-image: '../images/sprite.png';
$ico-search: (104px, 104px, -104px, -104px, 19px, 15px, 136px, 128px, '../images/sprite.png', 'ico-search', );
$ico-tw-name: 'ico-tw';
$ico-tw-x: 48px;
$ico-tw-y: 104px;
$ico-tw-offset-x: -48px;
$ico-tw-offset-y: -104px;
$ico-tw-width: 24px;
$ico-tw-height: 24px;
$ico-tw-total-width: 136px;
$ico-tw-total-height: 128px;
$ico-tw-image: '../images/sprite.png';
$ico-tw: (48px, 104px, -48px, -104px, 24px, 24px, 136px, 128px, '../images/sprite.png', 'ico-tw', );
$spritesheet-width: 136px;
$spritesheet-height: 128px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($dot-act, $dot, $ico-checkbox-off, $ico-checkbox-on, $ico-corner-slider, $ico-corner-small, $ico-corner, $ico-fb, $ico-home-hover, $ico-home, $ico-in, $ico-menu, $ico-search-big, $ico-search, $ico-tw, );
$spritesheet: (136px, 128px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
