/* Media queries */
$breakpoint-widths: (
	lg: 1200px,
	md: 992px,
	sm: 768px,
	xs: 576px
)!default;

/* Container */
$container-widths: (
	lg: 900px,
	md: 750px,
	sm: 570px,
	xs: auto
)!default;

$gutter: 15px;

@font-face {
	font-family: Ekibastuz;
	src: url('../fonts/alsekibastuz_regular-webfont.woff');
	font-weight: 400;
}
@font-face {
	font-family: Ekibastuz;
	src: url('../fonts/alsekibastuz_bold-webfont.woff');
	font-weight: 700;
}

/* Fonts */
$ez: 'Ekibastuz', sans-serif;
$arial: 'Arial', sans-serif;

$default-font: $arial;
$base-font-size: 16;
$base-line-height: 30;
$default-color: #545557;

/* Colors */
$black: #231f20;

$header: $black;

/* Links */
$link: #0065b3;
$link-hov: #00a950;

/* Components */
$c-humburger-color: $link-hov;
$scroll-up-color: $link-hov;
